.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #111;
}

.nav-links {
  display: flex;
  gap: 30px;   /* 🔥 spacing between Home About Dashboard Login */
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-links a:hover {
  color: #00ffcc;
}