body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: white;
}

.home {
  text-align: center;
  padding: 60px 20px;
}

.home h1 {
  font-size: 40px;
}

.home p {
  color: #cbd5f5;
}
.start-btn {
  margin-top: 30px;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.start-btn:hover {
  background: #0ea5e9;
}